/* Header */
.custom-header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 550px;
}

.custom-header img {
	margin-bottom: 0;
	width: 600px;
}

.site .site-header {
	background-image: url( 'https://2018.noordnederland.wordcamp.org/files/2017/12/header-image.jpg' );
}

.site-title a:before {
	background-image: url( '/img/wordcamp-noord-nederlang-logo-white.svg' );
}

.site-branding {
	display: none;
}

/* Navigation */
.menu {
	border-top: 1px solid #fff;
}

.main-navigation {
	background-color: #26223c;
}

.page-navigation-container li {
	display: inline-block;
	float: none;
	margin-left: -5px;
}

.page-navigation-container li a {
	color: #fff;
	font-family: 'Lato', sans-serif;
	padding: 1.5rem 2rem;
}

#site-navigation .menu-toggle {
	background-color: #26223c;
}

.page-navigation-container .menu-item a:hover {
	background-color: #DA5F5C;
}

.page-navigation-container .current-menu-item a {
	background-color: #DA5F5C;
}

/* Titles */
article .entry-title {
	font-family: 'Lato', sans-serif;
}

article .entry-title a {
	color: #26223c;
}

article .entry-title a:active
article .entry-title a:foces
article .entry-title a:hover {
	color: #26223c;
	text-decoration: none;
}

/* Paragraphs */
.entry-content p {
	font-family: 'Roboto Slab', serif;
}

article .entry-meta a,
article .comments-link a,
article .edit-link a {
	color: #26223c;
}

article .entry-meta a:active,
article .entry-meta a:focus,
article .entry-meta a:hover

/* Colophon */
footer#colophon {
	background: #26223c;
	max-width: 100%;
}

footer#colophon .site-info-network {
	background-color: #26223c;
	margin-top: 18px;
}

/* Mobile */
@media screen and (max-width: 768px) {
	.custom-header {
		height: 200px;
	}

	.custom-header img {
		width: 300px;
	}

	.site-header  .main-navigation {
		background-color: #26223c;
	}

	.page-navigation-container li {
		display: block;
	}
}
