/* Header */
.custom-header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 550px;
}

.custom-header img {
	margin-bottom: 0;
	width: 600px;
}

.site .site-header {
	background-image: url( 'https://2018.noordnederland.wordcamp.org/files/2017/12/header-image.jpg' );
}

.site-title a:before {
	background-image: url( '/img/wordcamp-noord-nederlang-logo-white.svg' );
}

.site-branding {
	display: none;
}

/* Navigation */
.menu {
	border-top: 1px solid #fff;
}

.main-navigation {
	background-color: #26223c;
}

.page-navigation-container li {
	display: inline-block;
	float: none;
	margin-left: -5px;
}

.page-navigation-container li a {
	color: #fff;
	font-family: 'Lato', sans-serif;
	padding: 1.5rem 2rem;
}

#site-navigation .menu-toggle {
	background-color: #26223c;
}

.page-navigation-container .menu-item a:hover {
	background-color: #DA5F5C;
}

.page-navigation-container .current-menu-item a {
	background-color: #DA5F5C;
}

/* Content */
@media (min-width: 62em) {
	#content {
		padding: 4.5rem 3rem 0 3rem;
	}
}

/* Titles */
article .entry-title {
	font-family: 'Lato', sans-serif;
}

article .entry-title a {
	color: #26223c;
}

.entry-title a:active,
.entry-title a:focus,
.entry-title a:hover {
	box-shadow: none !important;
	color: #26223c !important;
}

/* Paragraphs */
.entry-content p {
	font-family: 'Roboto Slab', serif;
}

.entry-content a {
	box-shadow: inset 0 -1px 0 0 rgba(218, 95, 92, .5) !important;
	color: #DA5F5C !important;
}

.entry-content a:hover {
	box-shadow: inset 0 -1px 0 0 rgba(218, 95, 92, .5) !important;
}

article .entry-meta a,
article .comments-link a,
article .edit-link a {
	color: #26223c;
}

.entry-meta a:active,
.entry-meta a:focus,
.entry-meta a:hover {
	box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.25) !important;
	color: #26223c !important;
}

.entry-footer a:active,
.entry-footer a:focus,
.entry-footer a:hover {
	box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.25) !important;
	color: #26223c !important;
}

/* Widgets */
.widget {
	color: #fff;
	margin: 0;
}

.widget-title {
	color: #fff;
	font-family: 'Lato', sans-serif;
}

.textwidget {
	font-family: 'Roboto Slab', serif;
}

#primary-sidebar section:before {
	background: #DA5F5C;
}

form label {
	text-align: left;
}

form input {
	margin-bottom: 25px;
}

form input[type="submit"] {
	background: #DA5F5C;
	border-color: #fff;
	color: #fff;
	margin-top: 25px;
}

form input[type="submit"]:hover {
	background: #fff;
	border-color: #fff;
	color: #DA5F5C;
}

#secondary-sidebar section:before {
	background: #26223c;
}

/* Colophon */
footer#colophon {
	background: #12101D;
	margin-top: 0;
	max-width: 100%;
}

footer#colophon .site-info-network {
	background-color: #12101D;
	margin-top: 18px;
}

/* Mobile */
@media screen and (max-width: 768px) {
	.custom-header {
		height: 200px;
	}

	.custom-header img {
		width: 300px;
	}

	.site-header  .main-navigation {
		background-color: #26223c;
	}

	.page-navigation-container li {
		display: block;
	}
}
